<!DOCTYPE html>
<html lang="ja" xmlns:th="http://www.thymeleaf.org">

<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <style>
        .error {
            color:red;
        }

    </style>
</head>
<body>

<h2>商品情報更新</h2>
<form th:action="@{/update/{id}(id=*{id})}" method="POST" th:object="${productInsert}">
    <span>id：</span><span th:text="*{id}"></span><br>
    <span th:text="#{label.name}">:</span><input type="text" th:field="*{name}"><br>

    <div class="error" th:each="error: ${#fields.errors('name')}">
        [[ ${error} ]]
    </div>
    <br>
    <span th:text="#{label.price}">:</span><input type="text" th:field="*{price}"><br>

    <div class="error" th:each="error: ${#fields.errors('price')}">
        [[ ${error} ]]
    </div>
<br>
  <input type="submit" name="update" value="更新">
    <input type="submit" name="delete" value="削除">
</form>

</body>
</html>